extends header

block content
  //Check for any articles being passed in from the server
  if (myitems && myitems.length)
    table
        thead
            th Name
            th Description
            th Update
            th Delete
        tbody
            //If there is articles, create a row and column for each article
            each myitem in myitems
                tr
                    td= myitem.name
                    td= myitem.description
                    td 
                        a(href='/update/'+myitem.id) Update
                    td
                        form(method='POST' action='/delete/'+myitem.id)
                            button(type='submit') Delete
  else
    h1 No Ads!

